<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="web11.cs.ait.ac.th">MyTravel</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", pages_about_path%></li>
        <li><%= link_to "Contact Us", "#" %></li>
      </ul>
    </nav>
  </footer>
</div>